snippet ap "Add postrotate section" b
      - |
        sharedscripts
          postrotate
            echo \"shell commands to run rotate goes here...\"
            echo \"Remember to comment out copytruncate!\"
          endscript
endsnippet
synonyms
add postrotate section
add a postrotate section
add a new postrotate section
endsynonyms
