snippet comment "create a comment" b
# 
#---------------------------------------------------------------------------
endsnippet
synonyms
add big comment
big comment
create big comment
make big comment
title
endsynonyms
