snippet hwc "help with chameleon" b
# Chameleon help

# 1. Begin by typing a few characters from the first word
#    of what you want to do (e.g. \"ad\" if you want to \"add\" something)
# 2. Go up or down in the list of selections with the arrow keys
#    (or use Ctrl-n and Ctrl-p)
# 3. Press Enter to select what you want to do.
endsnippet
synonyms
help with chameleon
endsynonyms
