snippet link "create a (sym)link" b
  file:
    src: ""
    dest: ""
    state: link
    mode: 0640
endsnippet
synonyms
create link
create symlink
create symbolic link
link
symlink
symbolic link
endsynonyms
